h1{
    color: red;
}
p{
    color: aqua;
    background-color: red;
}
h2{
    color: brown;
    background-color: aqua;
}
button{
    background: #000;
    color: white;
}
#text{
    background: green;
}
#nm{
    background: #000;
}